torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
bitsandbytes==0.45.0
transformers==4.47.0
accelerate==1.2.0
huggingface-hub==0.26.5
joblib==1.4.2
sentence-transformers==3.4.0
tqdm==4.66.4
pandas==2.2.2
pypdf==5.1.0
flash-attn==2.7.2.post1
gradio==5.0.2
numpy==2.2.0
tiktoken==0.8.0
pytest==8.3.2
opencv-python
fastapi==0.115.6
pydantic==2.10.3
pydantic-core==2.27.1
requests==2.32.3
peft==0.15.2
backoff==2.2.1