torch==2.4.0 
torchvision==0.19.0 
torchaudio==2.4.0
bitsandbytes==0.43.1
transformers==4.41.2
accelerate==0.31.0
huggingface-hub==0.25.1
joblib==1.4.2
sentence-transformers==3.0.0
tqdm==4.66.4
pandas==2.2.2
pypdf==4.3.0
flash-attn==2.6.2
gradio==5.0.2
numpy==1.26.4
tiktoken==0.7.0
pytest==8.3.2
opencv-python
fastapi==0.112.2
pydantic==2.8.2
pydantic-core==2.20.1